force-app/main/default/flows/AccountCNFAutoPopulate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignementForAsset</name>
        <label>AssignementForAsset</label>
        <locationX>1039</locationX>
        <locationY>18</locationY>
        <assignmentItems>
            <assignToReference>AssetAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetSobjVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Projects</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_Conditions</name>
        <label>Checking Conditions</label>
        <locationX>733</locationX>
        <locationY>24</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckingContains</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AssetSobjVar.Cancellation_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upgrade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssetSobjVar.Cancellation_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downgrade</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignementForAsset</targetReference>
            </connector>
            <label>CheckingContains</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckingContainsCNF</name>
        <label>CheckingContainsCNF</label>
        <locationX>390</locationX>
        <locationY>62</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckingISNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetRecordSobjVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Asset</targetReference>
            </connector>
            <label>CheckingISNULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>CNF_Check</name>
        <label>CNF Check</label>
        <locationX>980</locationX>
        <locationY>215</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_CNF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecord</targetReference>
            </connector>
            <label>Contains CNF</label>
        </rules>
    </decisions>
    <formulas>
        <name>FormulaProject</name>
        <dataType>String</dataType>
        <expression>TEXT({!AssetAssignment.Cancellation_Reason__c})</expression>
    </formulas>
    <formulas>
        <name>ProjectID</name>
        <dataType>String</dataType>
        <expression>{!$Label.CNCFID}</expression>
    </formulas>
    <interviewLabel>AccountCNFAutoPopulate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountCNFAutoPopulate</label>
    <loops>
        <name>Loop_through_Asset</name>
        <label>Loop through Asset</label>
        <locationX>542</locationX>
        <locationY>16</locationY>
        <assignNextValueToReference>AssetSobjVar</assignNextValueToReference>
        <collectionReference>AssetRecordSobjVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checking_Conditions</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Projects</name>
        <label>Get Projects</label>
        <locationX>851</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CNF_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetAssignment.Projects__c</elementReference>
            </value>
        </filters>
        <object>Project__c</object>
        <outputReference>ProjectName</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRecord</name>
        <label>GetRecordAsset</label>
        <locationX>271</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckingContainsCNF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cancellation_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cancellation_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Projects__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Projects__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>AssetRecordSobjVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Cancellation_Reason__c</queriedFields>
        <queriedFields>Cancellation_Date__c</queriedFields>
        <queriedFields>Projects__c</queriedFields>
        <sortField>Cancellation_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>1121</locationX>
        <locationY>186</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CNCF_Downgrade_upgrade__c</field>
            <value>
                <elementReference>FormulaProject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNCF_date__c</field>
            <value>
                <elementReference>AssetAssignment.Cancellation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AssetRecordSobjVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AssetSobjVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>ProjectName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project__c</objectType>
    </variables>
</Flow>
