force-app/main/default/flows/AccountNumberofEmployeesVerificationEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This email alerts Mike Wooster and Business applications team that the Employee Number has been updated from the Organizational Dashboard and must be verified.</description>
        <name>Send_Number_Of_Employee_Verification_Email</name>
        <label>Send Number Of Employee Verification Email</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NumberOfEmployeesVerificationEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>sfdcprojectsupport@linuxfoundation.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>sfdc_integration@linuxfoundation.org</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>NumberofEmployeesVerifcationSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_if_Last_Values_Was_0</name>
        <label>Check if Last Values Was 0</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.NumberOfEmployees</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Number_Of_Employee_Verification_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This Flow is triggered when Account.NumberOfEmployees field is updated (usually updated via Organizational Dashboard).  This sends an email to the Business Applications team and Mike Woster with instructions to verify Number of Employees on the JoinNow No. Of Employees field.</description>
    <environments>Default</environments>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>AccountNumberofEmployeesVerificationEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountNumberofEmployeesVerificationEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Last_Values_Was_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NumberOfEmployees</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0052M0000093AMhQAM</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NumberofEmployeesVerifcationSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>TEST Number of Employees verification needed for Salesforce Account:  {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <description>Email alerting Business Applications team and Mike Woster that Employees field has been updated via the Organizational Dashboard and advises with steps to verify.</description>
        <name>NumberOfEmployeesVerificationEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The Number of Employees for &lt;b&gt;&lt;u&gt;{!$Record.Name}&lt;/u&gt;&lt;/b&gt; has recently been changed from &lt;b&gt;{!$Record__Prior.NumberOfEmployees}&lt;/b&gt; to &lt;b&gt;&lt;u&gt;{!$Record.NumberOfEmployees} &lt;/u&gt;&lt;/b&gt;via the Organizational Dashboard.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please verify that this is the correct Employee count for &lt;b&gt;&lt;u&gt;{!$Record.Name}&lt;/u&gt;&lt;/b&gt;.  If the updated employee count is verified correct, then please update the &lt;b&gt;JoinNow No Of Employees&lt;/b&gt; field to &lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;{!$Record.NumberOfEmployees}&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; and &lt;/span&gt;&lt;b&gt;&lt;u&gt;JoinNow Number&lt;/u&gt;&lt;/b&gt; of Employees (Date) field to Today&apos;s date for &lt;b style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;{!$Record.Name}&lt;/u&gt;&lt;/b&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;.  The Organization Dashboard will then show that the Employee Count is verified when these fields are updated. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;-Business Applications Team&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
