force-app/main/default/flows/Add_Contacts_to_SFDC_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Renewal_Remider_campignId</name>
        <label>Renewal Remider campignId</label>
        <locationX>614</locationX>
        <locationY>218</locationY>
        <assignmentItems>
            <assignToReference>CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Renewal_Campaign_Automation.CampaignId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Campaign_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_For_CampaignId</name>
        <label>Checking For CampaignId</label>
        <locationX>436</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaignid_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewal_Campaign_Automation.CampaignId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_Remider_campignId</targetReference>
            </connector>
            <label>Campaignid exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_campaign_member_exist</name>
        <label>Do campaign member exist</label>
        <locationX>935</locationX>
        <locationY>245</locationY>
        <defaultConnector>
            <targetReference>Update_CampaignMember_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Campaign_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_CampaignMemberList</targetReference>
            </connector>
            <label>Check null</label>
        </rules>
    </decisions>
    <formulas>
        <name>RenewalReminderCampaignId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Individual_Supporter_Renewal_Reminder}</expression>
    </formulas>
    <formulas>
        <name>usageenddateLater</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+14</expression>
    </formulas>
    <interviewLabel>Add Contacts to SFDC Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Contacts to SFDC Campaign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_CampaignMemberList</name>
        <label>Insert CampaignMemberList</label>
        <locationX>1158</locationX>
        <locationY>255</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>UsageEnddate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Id__c</field>
            <value>
                <elementReference>PaymentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>InstallDate</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Campaign_Members</name>
        <label>Get Existing Campaign Members</label>
        <locationX>765</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_campaign_member_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the metadata based on combination of &quot;ProjectId-ProductId-AutoRenew&quot;</description>
        <name>Get_Renewal_Campaign_Automation</name>
        <label>Get Renewal Campaign Automation</label>
        <locationX>359</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_For_CampaignId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProjectId__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductId__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Called_From__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Report</stringValue>
            </value>
        </filters>
        <filters>
            <field>Auto_Renew__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AutoRenewValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Renewal_Campaign_Automation__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CampaignId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CampaignMember_Record</name>
        <label>Update CampaignMember Record</label>
        <locationX>946</locationX>
        <locationY>503</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Campaign_Members.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>UsageEnddate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Id__c</field>
            <value>
                <elementReference>PaymentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>InstallDate</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>15</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>Get_Renewal_Campaign_Automation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AutoRenewValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CampaignMemberList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>campaignMemberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIDSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InstallDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PaymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UsageEnddate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
