force-app/main/default/flows/Convert_Person_Account_To_Business_Account1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>BusinessRecordtypeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01241000000bkf1</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Checks_Whether_the_Person_Account_Contains_Related_Opportunities</name>
        <label>Checks Whether the Person Account Contains Related Opportunities</label>
        <locationX>598</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>Change_Account_Record_type_to_Business_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Display_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecordVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Contains_related_Opportunities</targetReference>
            </connector>
            <label>Display Screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checks_Whether_the_Person_Record_Id_Set_is_Empty_or_Not</name>
        <label>Checks Whether the Person Record Id Set is Empty or Not</label>
        <locationX>434</locationX>
        <locationY>39</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PersonAccountRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Records_Related_To_Person_Account</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Business_Account_is_null</name>
        <label>If Business Account is null</label>
        <locationX>130</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>Update_Person_Account_Record_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_Account_Records</targetReference>
            </connector>
            <label>Business Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Converted</name>
        <label>Is Converted</label>
        <locationX>806</locationX>
        <locationY>520</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_Account_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdatedPersonAccount.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_of_the_Contact</targetReference>
            </connector>
            <label>IS Account Converted</label>
        </rules>
    </decisions>
    <interviewLabel>Flow To Convert Person Account To Business Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Person Account To Business Account1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <description>Delete Person Account</description>
        <name>Delete_Person_Account</name>
        <label>Delete Person Account</label>
        <locationX>602</locationX>
        <locationY>700</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccountRecords.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Converted_Business_Account</name>
        <label>Get Converted Business Account</label>
        <locationX>810</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Converted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>UpdatedPersonAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>IsPersonAccount</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Records_Related_To_Person_Account</name>
        <label>Get Opportunity Records Related To Person Account</label>
        <locationX>604</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checks_Whether_the_Person_Account_Contains_Related_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccountId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityRecordVariable</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the record of Person Account</description>
        <name>Get_Person_Account_Records</name>
        <label>Get Person Account Records</label>
        <locationX>284</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checks_Whether_the_Person_Record_Id_Set_is_Empty_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>PersonAccountRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsPersonAccount</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Change_Account_Record_type_to_Business_Account</name>
        <label>Change Account Record type to Business Account</label>
        <locationX>604</locationX>
        <locationY>376</locationY>
        <connector>
            <targetReference>Get_Converted_Business_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccountRecords.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BusinessRecordtypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_of_the_Contact</name>
        <label>Update Account of the Contact</label>
        <locationX>603</locationX>
        <locationY>543</locationY>
        <connector>
            <targetReference>Delete_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccountRecords.PersonContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>BusinessAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_Account_Record_type</name>
        <label>Update Person Account Record type</label>
        <locationX>127</locationX>
        <locationY>208</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BusinessRecordtypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Account_Contains_related_Opportunities</name>
        <label>Account Contains related Opportunities</label>
        <locationX>1015</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;The selected Person Account has its related opportunities, hence it cannot be merged&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>If_Business_Account_is_null</startElementReference>
    <status>Active</status>
    <variables>
        <name>alternateEmailCollectionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alternate_Email__c</objectType>
    </variables>
    <variables>
        <name>AlternateEmailLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alternate_Email__c</objectType>
    </variables>
    <variables>
        <name>AlternateEmailRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Alternate_Email__c</objectType>
    </variables>
    <variables>
        <name>AlternateEmailResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alternate_Email__c</objectType>
    </variables>
    <variables>
        <name>BusinessAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PersonAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PersonAccountId1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PersonAccountRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PersonAccountRecords1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UpdatedPersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
