force-app/main/default/flows/UpdateCampaignForProject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignProjectID</name>
        <label>AssignProjectID</label>
        <locationX>728</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>$Record.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProjectID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCampaign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Project_Parse_Not_Null</name>
        <label>Check Project Parse Not Null</label>
        <locationX>419</locationX>
        <locationY>79</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Project_Parse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Parse__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProjectDetail</targetReference>
            </connector>
            <label>Check Project Parse</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChecKProjectID</name>
        <label>ChecKProjectID</label>
        <locationX>826</locationX>
        <locationY>47</locationY>
        <defaultConnector>
            <targetReference>AssignProjectID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckProjectIDEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProjectByEntityName</targetReference>
            </connector>
            <label>CheckProjectIDEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckProjectIDByEntityName</name>
        <label>CheckProjectIDByEntityName</label>
        <locationX>1041</locationX>
        <locationY>284</locationY>
        <defaultConnector>
            <targetReference>AssignProjectID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckProjectByEntityNameID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProjectID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>CheckProjectByEntityNameID</label>
        </rules>
    </decisions>
    <interviewLabel>UpdateCampaignForProjectId {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateCampaignForProject</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetProjectByEntityName</name>
        <label>GetProjectByEntityName</label>
        <locationX>1046</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckProjectIDByEntityName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Entity_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Parse__c</elementReference>
            </value>
        </filters>
        <object>Project__c</object>
        <outputAssignments>
            <assignToReference>ProjectID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetProjectDetail</name>
        <label>GetProjectDetail</label>
        <locationX>656</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChecKProjectID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Parse__c</elementReference>
            </value>
        </filters>
        <object>Project__c</object>
        <outputAssignments>
            <assignToReference>ProjectID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCampaign</name>
        <label>UpdateCampaign</label>
        <locationX>341</locationX>
        <locationY>451</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Project_Parse_Not_Null</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
