force-app/main/default/flows/Update_Campaign_Members_Lead_Contact_Hubspot_Checkbox.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_Contact_To_List</name>
        <label>Add Contact To List</label>
        <locationX>1090</locationX>
        <locationY>690</locationY>
        <assignmentItems>
            <assignToReference>UpdateContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lead_To_List</name>
        <label>Add Lead To List</label>
        <locationX>405</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>UpdateLeads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Leads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Checkbox</name>
        <label>Assign Contact Checkbox</label>
        <locationX>955</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>ContactToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToUpdate.Hubspot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign.Hubspot__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Finos_HubSpot_Checkbox_Is_True_Con</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Checkbox_0</name>
        <label>Assign Contact Checkbox</label>
        <locationX>1389</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>ContactToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToUpdate.Finos_Hubspot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign.Finos_Hubspot__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Campaign Checkbox To Lead checkbox</description>
        <name>Assign_Lead_Checkbox</name>
        <label>Assign Lead Checkbox</label>
        <locationX>422</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>LeadToUpdate.Hubspot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign.Hubspot__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Finos_HubSpot_Checkbox_Is_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Campaign Checkbox To Lead checkbox</description>
        <name>Assign_Lead_Checkbox_0</name>
        <label>Assign Lead Checkbox</label>
        <locationX>774</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>LeadToUpdate.Finos_Hubspot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign.Finos_Hubspot__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Empty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Finos_HubSpot_Checkbox_Is_True</name>
        <label>Check Finos HubSpot Checkbox Is True</label>
        <locationX>713</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finos_Hubspot_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Finos_Hubspot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead.Finos_Hubspot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Checkbox_0</targetReference>
            </connector>
            <label>Finos Hubspot True?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Finos_HubSpot_Checkbox_Is_True_Con</name>
        <label>Check Finos HubSpot Checkbox Is True Con</label>
        <locationX>1196</locationX>
        <locationY>467</locationY>
        <defaultConnector>
            <targetReference>Update_Contact_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Finos_Hubspot_True_Con</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Finos_Hubspot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Finos_Hubspot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Checkbox_0</targetReference>
            </connector>
            <label>Finos Hubspot True Con?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_HubSpot_Checkbox_Is_True</name>
        <label>Check HubSpot Checkbox Is True</label>
        <locationX>577</locationX>
        <locationY>299</locationY>
        <defaultConnector>
            <targetReference>Check_Finos_HubSpot_Checkbox_Is_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hubspot_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Hubspot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead.Hubspot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Checkbox</targetReference>
            </connector>
            <label>Hubspot True?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_HubSpot_Checkbox_Is_True_0</name>
        <label>Check HubSpot Checkbox Is True</label>
        <locationX>1070</locationX>
        <locationY>118</locationY>
        <defaultConnector>
            <targetReference>Check_Finos_HubSpot_Checkbox_Is_True_Con</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hubspot_True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Hubspot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Hubspot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Checkbox</targetReference>
            </connector>
            <label>Hubspot True?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_OR_Contact</name>
        <label>Lead OR Contact?</label>
        <locationX>575</locationX>
        <locationY>113</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_HubSpot_Checkbox_Is_True</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_HubSpot_Checkbox_Is_True_0</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Contact_Empty</name>
        <label>Update Contact Empty</label>
        <locationX>1231</locationX>
        <locationY>693</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactToUpdate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Contact_To_List</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Lead_Empty</name>
        <label>Update Lead Empty</label>
        <locationX>568</locationX>
        <locationY>696</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadToUpdate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Lead_To_List</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Update Campaign Members Lead/Contact Hubspot Checkbox {!$Flow.CurrentDateTime}
Campaign Member: {!$Record.Id}</interviewLabel>
    <label>Update Campaign Members Lead/Contact Hubspot Checkbox</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>973</locationX>
        <locationY>690</locationY>
        <inputReference>UpdateContacts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Leads</name>
        <label>Update Leads</label>
        <locationX>277</locationX>
        <locationY>699</locationY>
        <inputReference>UpdateLeads</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Lead_OR_Contact</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>LeadToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>UpdateContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdateLeads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
